* {
  font-family: courier;
}

#currentPage {
  text-decoration: underline;
}

#currentPage:hover {
  text-decoration: none;
}

body {
  background-color: #FFFEE0;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
}

/*nav code*/
ul {
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  padding: 10px 10px;
}
/*nav code*/

a {
  color: #FF6F61;
  text-decoration: none;
}

h2 {
  color: #DAA520;
}

a:hover {
  color: #FF4500;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2%;
  gap: 2%; 
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

ol li {
  padding: 1%;
}

ol li a {
  text-align: left;
}

footer { 
  text-align: left;
  bottom: 0;
  left: 0;
  width: 100%;
}


